// VARIABLES

$bp-med: 700px;
$base-font: 16px;
$line-height-ratio: 1.5;
$margin-bottom: .8*($line-height-ratio*modular-scale(0, $base-font));

$color-main: #009A36;
$color-fade: rgba(0, 154, 54, 0.15);
$color-font-main: #000;
$color-font-fade: rgba(0, 0, 0, 0.59);;

// GLOBAL

body {
  color: $color-font-main;
  font-size: modular-scale(0, $base-font);
  line-height: $line-height-ratio*(modular-scale(0, $base-font));
  margin-bottom: $margin-bottom;
  font-family: 'Inconsolata', Helvetica, sans-serif;
}

h1 {
  font-size: modular-scale(3, $base-font);
  line-height: $line-height-ratio*(modular-scale(3, $base-font));
  margin-bottom: $margin-bottom;
}

h2 {
  font-size: modular-scale(2, $base-font);
  line-height: $line-height-ratio*(modular-scale(2, $base-font));
  margin-bottom: $margin-bottom;
}

h3 {
  font-size: modular-scale(1, $base-font);
  line-height: $line-height-ratio*(modular-scale(1, $base-font));
  margin-bottom: $margin-bottom;
}

p, iframe, image {
  margin-bottom: $margin-bottom;
}

a {
  color: $color-main;

  &:visited{
    color: $color-main;
  }
}

ol {
  list-style-type: decimal;
  padding-left: 28px;
  margin-left: 16px;
  margin-bottom: $margin-bottom;
}

ul {
  list-style-type: circle;
  padding-left: 28px;
  margin-left: 16px;
  margin-bottom: $margin-bottom;
}

pre {
  margin-bottom: $margin-bottom;
}

blockquote {
  padding-left: 24px;
  border-left: 1px solid $color-fade;
  color: rgba(0, 0, 0, 0.59);
}

img {
  max-width: 100%;
}

// STRUCTURAL

.container {
  @include outer-container;
  margin-top: 10px;
  @include bp($bp-med) {
    margin-top: 100px;
  }
}

.box {
  padding: 0 20px;
}

.navigation {
  @include span-columns(12);
  text-align: center;
  @include bp($bp-med) {
    text-align: right;
    @include span-columns(2);
  }
}

.content {
  @include span-columns(12);
  @include bp($bp-med) {
    @include span-columns(8);
  }
}

// Cards are nested columns within .content
.card-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.card {
  flex: 0 0 49%;
  margin-bottom: $margin-bottom;
}

.card-img {
  display: block;
  background-image: url('http://placehold.it/400x400');
  background-position: center;
  height: 200px;
}

.card-title {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.77);
  font-weight: 700;
  text-decoration: none;
   font-size: modular-scale(0, $base-font);
   line-height: $line-height-ratio*(modular-scale(0, $base-font));
   @include bp($bp-med) {
     font-size: modular-scale(1, $base-font);
     line-height: $line-height-ratio*(modular-scale(1, $base-font));
   }
}

.nav-small {
  margin-bottom: 2*$margin-bottom;
  @include bp($bp-med) {
    display: none;
  }
}

.nav-big {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  display: none;
  @include bp($bp-med) {
    display: block;
  }

  li {
    padding: 10px 20px;
  }
}

.nav-current {
  border-right: 1px solid $color-fade;
}

// POST

.post {
  margin-bottom: $margin-bottom;
}

.post-title {
  margin-bottom: 0;
}

.post-header {
  margin-bottom: $margin-bottom;
}

.post-meta {
  color: rgb(93, 93, 93);
  font-style: italic;
}

// ELEMENTS

.site-header {
  @include row();
}

.site-logo {
  display: block;
  margin-bottom: $margin-bottom;
}

.site-logo-img {
  width: 100px;
  height: 100px;
}

.site-name {
  @include bp($bp-med) {
    position: absolute;
    top: 0;
    left: 20px;
  }
}
